# **Criando Listas**

In [ ]:
#criando uma lista chamada 'x'
x = [1,2,3,4,5]
x

[1, 2, 3, 4, 5]

In [ ]:
#sabendo o tipo da lista através do comando type
type(x)

list

In [ ]:
#criando uma outra sequência  do tipo 'tuple'
y = list(('a','v','c'))
y

['a', 'v', 'c']

In [ ]:
#verificando o tipe da tuple
type(y)

list

Criando uma lista de diferente tipos:

In [ ]:
x = [None, 1, 'a', 'Palavra Completa', [None,'x',1988],('Nome','João')]
x

[None, 1, 'a', 'Palavra Completa', [None, 'x', 1988], ('Nome', 'João')]

In [ ]:
type(x)

list

# **Acesso aos dados da lista**

In [ ]:
#criando a lista para testar os conceitos
x = ['primeiro', 'segundo', 'terceiro', 'quarto','quinto', 'pernúltimo','último']
x

['primeiro', 'segundo', 'terceiro', 'quarto', 'quinto', 'pernúltimo', 'último']

In [ ]:
x[3]

'quarto'

In [ ]:
x[6]

'último'

In [ ]:
#Observação no Python começamos a contar(indices) a partir de 0 portanto x[0] é o primeiro da lista e x[1] é o segundo

In [ ]:
x[0]

'primeiro'

In [ ]:
x[1]

'segundo'

In [30]:
x[-7]

'primeiro'

Acesso ao segmento ou **Slice**

In [ ]:
#y = x[<primeira_posicao>:<segunda_posicao> +1]

In [22]:
#usando o slice para captar os 3 valores entre '2' (inclusive) e 5 (exclusive)
x[2:5]

['terceiro', 'quarto', 'quinto']

In [23]:
#verificando a primeira posição
x[2]

'terceiro'

Para acessar o **último elemento da lista** é necessário deixar o último número vazio para slice

In [24]:
x[5]

'pernúltimo'

Para o caso do primeiro índice, tanto faz usar o valor vazio ou zero

In [25]:
#declarando o zero
x[0:3]

['primeiro', 'segundo', 'terceiro']

In [26]:
#imitindo o zero
x[:3]

['primeiro', 'segundo', 'terceiro']

Step - Definindo o passo ( Define de quanto em quanto índices o slice deve pegar os dados . 

x[start:end:step}

In [27]:
# slice com step igual a 1
#Step igual a 1
x[2:5:1]

['terceiro', 'quarto', 'quinto']

In [28]:
# slice com step não declarado
# step igual a 1
x[2:5]

['terceiro', 'quarto', 'quinto']

In [29]:
#Se o step for igual a doiso slice vai pular um elemento a cada passo
x[1:5:2]

['segundo', 'quarto']

Função Len : Essa função retorna a quantidade de elementos dentro de uma lista.

In [ ]:
len(x)
7

Funções min e max:

In [35]:
min(['a','b','c','d','e','f','g'])

'a'

In [36]:
max([0,3,1,8,10,1,20])

20

Função sum:

In [37]:
#calcular a soma sobre a lista com a função sum(). 
sum([10,20,30])

60

Função append:Essa função adiciona um elemento ao final da lista, aumentando sempre o tamanho em uma unidade.

In [39]:
x = [1,2,3]
x.append(4)
x

[1, 2, 3, 4]

Função insert:Para inserir um elemento em outro lugar da lista que não seja só no final, é recomendado usar a função insert()

In [43]:
x.insert(0,0.42)
x

[0.42, 0.42, 1, 2, 3, 4]

Função remove():permite remover um elemento da lista usando como entrada o elemento que se quer remover. Se houver elementos repetidos, remove a primeira ocorrência do elemento, mantendo os outros na lista. Para remover mais, deve-se chamar novamente a função na lista.

In [51]:
x = [1,2,2,3,4]
x.remove(2)